

@media (max-height: 800px){
    p {
     font-size: 10px;
    }
  }
  
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, .5fr) repeat(2, 1.5fr) 1fr repeat(2, .5fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  } 

    
.heading { /*div1 */
    grid-area: 1 / 1 / 2 / 3; 
    position: fixed;
    box-shadow: 0 0 0px rgba(0,0,0,0.19), 0 15px 10px rgba(0,0,0,0.15); 
    z-index: 6;
    top: 0; 
    left: 0;
    width: 100%; 
    background: linear-gradient(45deg, #f5adad, 50%, #aef5f5 80%); 
  }

.profilePic { /*div2*/ 
    grid-area: 2 / 1 / 3 / 3;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px; 
  }

.contentHead1 { /*div4*/
    grid-area: 3 / 1 / 4 / 2;
    background-color: #FFFFFF;
    position: relative;
    text-align: right; 
    padding-left: 15%
  }


  .contentHead1 .span1 { 
    position:absolute; 
    top:-220px;
  }

.contentBody1 { /*div5 */
    grid-area: 3 / 2 / 4 / 3;
    color: #2f2f31;
    font-size: 2.5vmin;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    padding-right: 15%; 
  }

.contentHead2 { /*div6 */
  grid-area: 4 / 1 / 5 / 2;
  background-color: #FFFFFF;
  position: relative;
  text-align: right; 
  padding-left: 15%
}

.contentBody2 { /*div7 */
  grid-area: 4 / 2 / 5 / 3;
  color: #2f2f31;
  font-size: 2.5vmin;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  padding-right: 15%; 
}

.carouselHead { /*div8 */
    grid-area: 5 / 1 / 6 / 2;
    background-color: #FFFFFF;
    text-align: right;
    position: relative; 
    padding-left: 15%; 
  }

.carouselHead .span2 { 
    position:absolute; 
    top:-240px;
  }


.carouselBody { /*div9 */
    grid-area: 5 / 2 / 6 / 3;
  }

.linksBody { /*div10 */
    grid-area: 6 / 1 / 7 / 3;
    display: inline-block;
    position: relative;  
    text-align: center; 
  }

.linksBody .span3 { 
    position:absolute; 
    top:-240px;
  }

.foot { /*div11 */
    grid-area: 7 / 1 / 8 / 3; 
    text-align: center; 
    width: 100%;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, #f5adad, 50%, #aef5f5 80%);
    box-shadow: 0px -15px 10px 0px rgba(0,0,0,0.15);
  } 

  a.anchor {
    display: block;
    position: relative;
    top: 250px;
    visibility: hidden;
}

h1 {
    color: #450808 ;
    font-size: 5vmax; 
    font-style: Bold;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
  } 

h2 {
    color: #450808;
    font-size: 6vmin; 
    font-style: Bold;
    font-family: 'Ubuntu Mono', monospace;
  }

h3 {
    color: #450808 ;
    font-size: 3vmin; 
    font-style: Bold;
    font-family: 'Ubuntu Mono', monospace;
  }

p, a  {
    color: #2f2f31;
    font-size: 2.5vmin;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;

    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: inline;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      color: #450808;
      font-size: 3vmin; 
      font-style: Bold;
      font-family: 'Ubuntu Mono', monospace;
    }


  .heading ul>li>a:hover {
      background-color:#aef5f5;
  }


.icon {
    width: 150px; 
    max-width: 80%;
    height: auto;
    border-width: 3px;
    border-color: #450808;
    padding: 0px; 
    margin: 0px 10px 0px 10px; 
    border-style: dashed;
    border-radius: 50%;
    padding: 0px; 
}

.profile {
  width: 200px; 
  max-width: 100%;
  height: auto;
  border-width: 3px;
  border-color: #450808;
  padding: 0px; 
  margin: 20px;
  border-style: dashed;
  border-radius: 50%;
  padding: 0px; 
}


/* carousel css *deep breaths*  */

.carouselBody .carouselDiv {
  width: 100%;
  height: 500px;
  max-width: 700px; 
  margin-right: auto;
  text-align: center;
  user-select: none; 
  box-sizing: border-box; 
}
 .carouselBody .carouselDiv .albumCrate {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative; 
  display: block; 
  margin-left: auto;
  margin-right: auto; 
  background-color: #f5adad;
 }

  .carouselBody .carouselDiv .albumCrate #play{
    width: 44px;
    height: 44px;
    position: absolute;
    background-image: url(play.png);
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
.carouselBody .carouselDiv .albumCrate #play:hover{
    opacity: .65;
}

.carouselBody .carouselDiv .albumCrate .albumCovers {
  position: absolute;
  display: block;
	opacity: 1;
}

.carouselBody .carouselDiv .albumCrate .albumCovers img{
  width: 380px;
  height: 380px; 
  position: relative;
  left: 44%;
  right: 44%;
  display: block;
}

/* captions */

.carouselBody .carouselDiv .albumCrate .albumCovers .albumName {
  display: none;
  color: #450808 ;
  font-size: 30px; 
  font-style: Bold;
  font-family: 'Ubuntu Mono', monospace;
}

.carouselBody .carouselDiv .albumCrate>.albumNameHolder {
  position: absolute; 
  z-index: 1;
  bottom: 0;
  width: 100%; 
  background: #a78888;
  color: #450808;
  font-family: 'Ubuntu Mono', monospace;
  height: 45px;
  overflow: hidden;  
}

.carouselBody .carouselDiv .albumCrate>.albumNameHolder>.albumName {
  margin: 0;
  position: relative;
  text-align: center; 
  color: #450808;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
}

/* left arrow div styling */
.carouselBody .carouselDiv .albumCrate .leftArrow, 
.carouselBody .carouselDiv .albumCrate .rightArrow {
  width: 25px;
  height: 50px; 
  background: #a78888; 
  position: absolute; 
  left: 0;
  z-index: 1;
  transition: background 0.7s; 
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; 
}

/* right arrow div styling, overwrites above */
.carouselBody .carouselDiv .albumCrate .rightArrow {
  left: auto;
  right: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
}

/* hover action for arrows */
.carouselBody .carouselDiv .albumCrate .leftArrow:hover {
  background: #f5adad; 
  cursor: w-resize;
}

.carouselBody .carouselDiv .albumCrate .rightArrow:hover {
  background: #f5adad; 
  cursor: e-resize;
}

/* making little arrows with css :) */
.carouselBody .carouselDiv .albumCrate .arrow {
  display: inline-block;
  border: 2.5px solid #450808; 
  width: 8px;
  height: 8px; 
  border-left: none; 
  border-bottom: none; 
  margin: auto; 
  position: absolute; 
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

/* rotating my little arrow squares so they point the right way (:  */
.carouselBody .carouselDiv .albumCrate .arrow.arrowLeft {
  transform: rotateZ(-135deg);
}

.carouselBody .carouselDiv .albumCrate .arrow.arrowRight {
  transform: rotateZ(45deg);
}

/* anchor links spacing*/
/* 
.contentHeat1:before { 
  content: ''; 
  display: block; 
  position: relative; 
  width: 0; 
  height: 0px; 
  margin-top: -200px;
} 

.carouselHead:before { 
  content: ''; 
  display: block; 
  position: relative; 
  width: 0; 
  height: 100px; 
  margin-top: -200px;
} 

.linksBody:before { 
  content: ''; 
  display: block; 
  position: relative; 
  width: 0; 
  height: 0px; 
  margin-top: -200px; 
}  */

/* animations */

.carouselBody .carouselDiv .moveLeftCurrentAlbum{
  animation-name: moveLeftCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; 
}

.carouselBody .carouselDiv .moveRightCurrentAlbum{
  animation-name: moveRightCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;      
  animation-fill-mode: forwards; 
}

.carouselBody .carouselDiv .moveLeftNextAlbum{
  animation-name: moveLeftNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards; 
}

.carouselBody .carouselDiv .moveRightPreviousAlbum{
  animation-name: moveRightPrevious;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-fill-mode:forwards; 
}

@keyframes moveLeftCurrent {
  from {margin-left: 0%; opacity: 1;}
  to {margin-left: -100%; opacity: 1;}
}

@keyframes moveLeftNext {
  from {margin-left: 100%; opacity: 1;}
  to {margin-left: 0%; opacity: 1;}
}

@keyframes moveRightCurrent {
  from {margin-left: 0%;opacity: 1;}
  to {margin-left: 100%;opacity: 1;}
}

@keyframes moveRightPrevious {
  from {margin-left: -100%;opacity: 1;}
  to {margin-left: 0%;opacity: 1;}
}

.albumNameFromTop {
  animation-name: albumNameFromTop;
  animation-duration: 0.8s;
  animation-timing-function: linear; 
}

@keyframes albumNameFromTop {
  from {opacity: 0; margin-top: -100px}
  to {opacity: 1; margin-top: 0px;}
}

.albumNameFromBottom {
  animation-name: albumNameFromTop;
  animation-duration: 0.8s;
  animation-timing-function: linear; 
}

@keyframes albumNameFromBottom {
  from {opacity: 0;margin-top: 100px}
  to {opacity: 1;margin-top 0px;}
}