/*  .color-primary-0 { color: #6B2B2B }	 Main Primary color 
.color-primary-1 { color: #975F5F }
.color-primary-2 { color: #714141 }
.color-primary-3 { color: #5C1919 }
.color-primary-4 { color: #450808 } --> // */


.parent {
    display: grid;
    grid-template-columns: 1.2fr repeat(2, 2fr);
    grid-template-rows: 1fr .5fr repeat(3, 2fr) 1fr;
    grid-column-gap: 10px;
    grid-row-gap: px;
    }
    
    
.div1 { grid-area: 1 / 1 / 2 / 4; 
        /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
        position: fixed;
        top: 0;
        width: 100%;
        background: rgb(153,98,149);
        background: linear-gradient(45deg, #f5adad, 50%, #aef5f5 80%); 
        }
.div2 { grid-area: 3 / 1 / 4 / 2;
    background-color: #6B2B2B ;
        }
.div3 { grid-area: 3 / 2 / 4 / 4;
        }
.div4 { grid-area: 4 / 1 / 5 / 2;
    background-color: #6B2B2B ;
        }
.div5 { grid-area: 4 / 2 / 5 / 4;
        }
.div6 { grid-area: 5 / 1 / 6 / 2;
    background-color: #6B2B2B ;
        }
.div7 { grid-area: 5 / 2 / 6 / 4;
        }

.div8 { grid-area: 6 / 1 / 7 / 4; 
        padding: 20px;
        text-align: center; 
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background: linear-gradient(45deg, #f5adad, 50%, #aef5f5 80%);
    } 

.div8:hover {
        background-color: #714141;
      }

h1 {
    color: #450808 ;
    font-size: 50px; 
    font-style: Bold;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}
/* #6D0E0E 
#450808
*/
h2 {
    color: #a78888;
    font-size: 35px; 
    font-style: Bold;
    font-family: 'Ubuntu Mono', monospace;
}

h3 {
    color: #450808 ;
    font-size: 20px; 
    font-style: Bold;
    font-family: 'Ubuntu Mono', monospace;
}

hr {
    border-top: 3px dashed #450808;
  }

p, a  {
    color: #2f2f31;
    font-size: 20;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #450808 ;
    font-size: 20px; 
    font-style: Bold;
    font-family: 'Ubuntu Mono', monospace;
  }

  li a:hover {
    background-color:#d67878;
  }


.icon {
    width: 40px;
    height: 40px;
    border-width: 2px;
    border-color: #2f2f31;
    padding: 10px; 
    border-style: dashed;
    border-radius: 50%;
    padding: 14px; 
}

<!--clip-path: polygon(50% 0%, 0% 100%, 100% 100%); --> 

}
.sidebar {
    text-align: right;
}

.carousel {
    background-color: #714141;

}


